:host {
  display: block;
  height: 100svh;

  background-color: var(--ui-white);
  position: relative;

  .pikachu {
    display: block;
    margin: 0 auto;
    margin-top: 75px;
  }

  .footer {
    text-align: center;

    font-size: 1.4rem;
    font-weight: 500;

    & a {
      color: var(--ui-primary);
      font-weight: 800;
      padding-left: 5px;
    }
  }
}
