version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: docker-files/Dockerfile-api
    image: fere12815/pokodex-api.dev:1.0.0
    ports:
      - '3000:3333'
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  client:
    build:
      context: .
      dockerfile: docker-files/Dockerfile-client
    image: fere12815/pokodex-client.dev:1.0.0
    ports:
      - '80:80'
    depends_on:
      - api
    networks:
      - app-network
  # ui:
  #   build:
  #     context: .
  #     dockerfile: docker-files/Dockerfile-ui
  #   image: fere12815/pokodex-ui.dev:latest
  #   ports:
  #     - '80:81'

networks:
  app-network:
    driver: bridge
