<form class="login-form" [formGroup]="formGroup" #formRef>
  <div class="login-form__inputs-container">
    <ui-form-field>
      <label uiLabel>Username</label>

      <input
        uiInput
        type="text"
        formControlName="username"
        class="login-form__input"
      />
    </ui-form-field>

    <app-password-input
      formControlName="password"
      placeholder="Password"
      class="login-form__input"
    />

    <div class="login-form__forgot-password-link-container">
      <a
        class="login-form__forgot-password-link"
        routerLink="../forgot-password"
        >Forgot password?
      </a>
    </div>
  </div>

  <button type="submit" class="login-form__btn" ui-flat-btn color="brown">
    Login
  </button>
</form>
