:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;

  .input,
  .btn {
    width: 100%;
  }

  .login-form {
    display: contents;

    &__inputs-container {
      & > * {
        margin-bottom: 15px;
      }
    }

    &__input {
      width: 100%;
    }

    &__btn {
      align-self: center;
    }

    &__forgot-password-link {
      text-align: right;

      font-weight: 500;
      font-size: 14px;
      color: var(--ui-primary);

      &-container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
