:host {
  display: block;
  flex: 1;
  height: 100%;

  background-color: var(--ui-primary-700);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  .content {
    height: 100%;
    margin: auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .header {
    color: var(--ui-white);

    &__title {
      // NOTE (Fere) think about _typography.scss file
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 20px;
      font-weight: medium;
    }
  }
}

:host-context(.--white) {
  background-color: var(--ui-white);

  .header {
    color: var(--ui-primary-700);

    &__description {
      color: #141414;
    }
  }
}
