<form class="login-form" [formGroup]="formGroup">
  <div class="login-form__inputs-container" uiCanColor="brown">
    <ui-form-field>
      <label uiLabel>Username</label>

      <input uiInput formControlName="username" class="login-form__input" />
    </ui-form-field>

    <ui-form-field>
      <label uiLabel>Email</label>

      <input uiInput formControlName="email" class="login-form__input" />
    </ui-form-field>

    <app-password-input
      formControlName="password"
      placeholder="Password"
      class="login-form__input"
      color="brown"
    />

    <app-password-input
      formControlName="confirmPassword"
      placeholder="Confirm password"
      class="login-form__input"
      color="brown"
    />
  </div>

  <button type="submit" class="login-form__btn" ui-flat-btn color="white">
    Register
  </button>
</form>
