@use 'variables/colors' as *;
@use 'variables/typography' as *;
@use 'mixins/core' as *;

:host {
  display: block;

  @include resetButton;

  padding: 7.5px 40px;
  border-radius: 10px;
}

:host-context(.--primary) {
  background-color: $primary;
  color: $white;
}

:host-context(.--accent) {
  background-color: $accent;
}
