$white: #fff;
$black: #000;

$primaryColor: (
  50: #c79494,
  100: #b26c6c,
  200: #ab5f5f,
  300: #a05454,
  400: #934d4d,
  500: #7e4343,
  600: #783f3f,
  700: #6b3838,
  800: #5e3131,
  900: #432323,
);

$primaryColorContrast: (
  dark: #fff,
  light: #000,
);

$accentColor: (
  50: #fff3ad,
  100: #ffed85,
  200: #ffe75c,
  300: #ffe347,
  400: #ffdd1f,
  500: #ffd700,
  600: #f5d000,
  700: #ccad00,
  800: #a38b00,
  900: #524500,
);

$accentColorContrast: (
  dark: #000,
  light: #fff,
);
