@mixin registerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1500px;
  position: relative;

  height: 80svh;
  width: 90svw;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}
