@use '../../utils/style/desktop-register-modal' as modal;

:host {
  display: flex;
  height: 100%;
  background-color: var(--ui-primary-800);

  .pikachu {
    max-width: 428px;
    max-height: 428px;

    object-fit: contain;
    position: inherit !important;
  }

  .modal {
    @include modal.registerModal;

    &__image-container {
      $bgColor: var(--ui-primary-700);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      position: relative;

      background-color: $bgColor;

      flex: 1;
      height: 100%;

      &::after {
        content: '';
        background-color: $bgColor;
        height: 100%;
        width: 100px;

        position: absolute;
        right: -100px;
        z-index: 1;
      }
    }

    &__title {
      font-size: 45px;
      font-weight: bold;
      color: var(--ui-white);

      margin: 0 20px;
      text-align: center;
    }

    &__main-section {
      z-index: 2;
    }

    &__form {
      height: auto;
    }

    &__footer {
      text-align: center;

      font-size: 1.4rem;
      font-weight: 500;

      & a {
        color: var(--ui-primary);
        font-weight: 800;
        padding-left: 5px;
      }
    }
  }
}
