name: Build and Deploy to VPS

on:
  push:
    branches:
      - create-ui-library # Trigger on push to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_SSH_HOST }}
          username: ${{ secrets.VPS_SSH_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{secrets.VPS_SSH_PORT }}
          script: |
            git clone https://${{secrets.GIT_LOGIN}}:${{secrets.GIT_CREDENTIALS}}@github.com/lukasz128/pokodex.git
            cd pokodex
            git checkout create-ui-library
            git pull origin create-ui-library
            docker compose down
            docker compose pull
            docker compose up -d
            cd ..
            rm -rf pokodex
